<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width-device-width, initial-scale=1.0" />
		<title>Home Page - Song List</title>
	</head>
	<body>
		<h1>Home Page View ejs</h1>
		<div>
			<% songs.forEach(function(song) { %>
				<h3>Song: <%= song.song %></h3>
				<p>Band: <%= song.band %></p>
				<hr />
			<% }); %>
		</div>
	</body>
</html>